<footer id='footer'>

  <div class="footerDiv">

    <div class="footerTitle">Medios de pago</div>
    <ul>
      <li><i class="fab fa-cc-visa icon"></i></li>
      <li><i class="fab fa-cc-amex"></i></li>
      <li><i class="fab fa-cc-paypal"></i></li>
    </ul>
  </div>

  <div class="footerDiv">

    <div class="footerTitle">Ferreteria Hernandez</div>
    <ul>
      <li class='address'>Av. Monteverde 5915, Burzaco, Buenos Aires</li>
    </ul>
  </div>

  <div class="footerDiv">

    <div class="footerTitle">Contactanos</div>
    <ul>
      <li><i class="far fa-envelope-open"></i><a href="mailto:info@fh.com.ar">info@fh.com</a></li>
      <li><i class="fab fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=5491177778888">5491177778888</a></li>
    </ul>
  </div>
</footer>
