<header id="header">

  <nav class="containerNavMain">

    <div class="logoNav">
      <a href="/">
        <img class="logoFH" src="/images/FHLogo.svg" alt="Ferretería Hernandez">
      </a>
    </div>

    <form class="containerSearch cs01 shadow1" action="#" method="get">
      <input type="search" class="searchIn" placeholder="Buscar">
      <button type="submit" class="btnSearch"><span class="material-icons searchIc">search</span></button>
    </form>

    <ul class="iconsNav">
      <li><a href="/login"><span class="material-icons" title="iniciar Sesión">person</span></li></a>
      <li><a href="/productCart"><span class="material-icons" title="Carrito">shopping_cart</span></li></a>
      <li><a href="mailto:info@fh.com.ar"><span class="material-icons" title="Contacto">contact_mail</span></li></a>
    </ul>
  </nav>
</header>