<div class="productAddMsg"> 


    <div class="msg">
      <div class="icon"><span class="material-icons">error</span></div>
      <div class="text"><span>Complete todos los campos obligatorios</span></div>
    </div>
  </div>