<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/styleHeader.css">
        <link rel="stylesheet" href="/stylesheets/styleABMProd.css">
        <link rel="stylesheet" href="/stylesheets/styleIndex.css">
        <script src="/js/mobileNavMenu.js"></script>
        <title>Ferretería Hernandez</title>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/headerL') %>

    <main id="error-page">

        <div id="error" class="error">
            Error: <%=error%>
        </div>

        <img src="/images/error.jpg" style="width: 100%;"alt="">
        <h1></h1>

    </main>

</body>
</html>